{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Dashboard</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a>General</a></li>
              <li class="breadcrumb-item"><a>Dashboard</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <div class="col">
        {% for message in get_flashed_messages() %}
        <div id="alert{{loop.index}}" style="display: flex" class="alert alert-danger" role="alert">
            <p style="flex: 1" class="text-danger mb-1">{{ message }}</p>
            <button onclick="closeAlert()" style="all:unset; cursor:pointer">
                  <span class="pcoded-micon">
                    <i class="feather icon-x"></i>
                  </span>
            </button>
        </div>
        <script>
          function closeAlert() {
            let x = document.getElementById("alert{{loop.index}}");
            x.style.display = "none";
          }
        </script>
        {% endfor %}
        </div>
        <div class="col">
          <div class="card Recent-Users">
            <div style="display: flex" class="card-header">
              <h5>Create Home</h5>
            </div>
            <div class="card-block px-0 py-3">
                <form class="form-inline" action="/api/create_registry" method="POST">
                  <div class="form-group mx-sm-3 mb-2">
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder="Home Name"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">
                    Create
                  </button>
                </form>
            </div>
          </div>
        </div>
        <!-- [ Main Content ] start -->
        {% for entry in registries %}
        <div class="col">
          <div class="card Recent-Users">
            <div style="display: flex" class="card-header">
              <div style="flex: 1">
                <h5>{{entry[1]}}</h5>
                <p class="m-0">
                  Role: {% if entry[2] %} Admin {% else %} Member {% endif %}
                </p>
              </div>
              <div>
                <a href="/homes/{{entry[0]}}">
                  <span class="pcoded-micon f-24">
                    <i class="feather icon-edit"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="card-block px-2 py-3">
              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    {% for device in devices[entry[0]] %}
                    <tr class="unread">
                      <td style="display: flex; align-items: center">
                        <div
                          style="
                            width: 40px;
                            margin-right: 20px;
                            text-align: center;
                          "
                          class="theme-bg text-white f-24 rounded-circle"
                        >
                          <span class="pcoded-micon"
                            ><i class="feather icon-cpu"></i
                          ></span>
                        </div>
                        <h6 style="margin: 0">{{device[0]}}</h6>
                      </td>

                      <td></td>
                      <td style="align-items: center">
                        <h6 class="text-muted" style="margin: 0">
                          <i class="fas fa-circle text-c-green f-10 m-r-15"></i
                          >11 MAY 12:56
                        </h6>
                      </td>
                      <td>
                        <span class="pcoded-micon f-24">
                          <i class="feather icon-wifi"></i>
                          <i class="feather icon-battery-charging"></i>
                        </span>
                      </td>
                      <td style="text-align: right">
                        <form style="all:unset" action="/api/device_command" method="POST">
                          <input type="hidden" name="registry_id" value="{{entry[0]}}">
                          <input type="hidden" name="device_id" value="{{device[0]}}">
                        <button type="submit" title="Turn On" name="command" value="on" style="all:unset"
                                              ><a href="#"><span class="pcoded-micon f-24"
                            ><i class="feather icon-power"></i
                            ></span></a>
                          </button>
                        </form>
                        <form style="all:unset" action="/api/device_command" method="POST">
                          <input type="hidden" name="registry_id" value="{{entry[0]}}">
                          <input type="hidden" name="device_id" value="{{device[0]}}">
                        <button type="submit" title="Turn Off" name="command" value="off" style="all:unset"
                                              ><a href="#"><span class="pcoded-micon f-24"
                            ><i class="feather icon-slash"></i
                            ></span></a>
                          </button>
                        </form>
                        <a href="#" title="Edit" class="f-24"
                          ><span class="pcoded-micon"
                            ><i class="feather icon-edit"></i
                          ></span>
                          </a>
                        <a href="#" title="Delete" class="f-24"
                          ><span class="pcoded-micon"
                            ><i class="feather icon-trash-2"></i
                          ></span>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
